# Configuration de la base de données pour Docker Compose
MYSQL_ROOT_PASSWORD=motdepasse_root_db
MYSQL_DATABASE=wordpress_db
MYSQL_USER=wordpress_user
MYSQL_PASSWORD=motdepasse_wp_user

# Configuration de WordPress pour se connecter à MariaDB
WORDPRESS_DB_HOST=db:3306
WORDPRESS_DB_NAME=wordpress_db
WORDPRESS_DB_USER=wordpress_user
WORDPRESS_DB_PASSWORD=motdepasse_wp_user

# Configuration du domaine et de l'email pour Certbot
CERTBOT_DOMAIN=exemple.com
CERTBOT_EMAIL=email@exemple.com
